body{
    margin: 0;
}
header {
    background-color: black;
    padding: 0 0 0.1em 0;
    margin: 0;
}
header a, header h1{
    display: block;
    color: white;
}
.conteudo{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 5em;
}
.conteudo2{
    display: flex;
    justify-content: center;
    margin: 0 5%;
}
img{
    width: 80%;
    margin: 0 10%;
}

p{
    font-size: 2em;
    text-align: justify;
}
footer {
    background-color: black;
    padding: 0 0 0.1em 0; 
    display: flex;
    justify-content: center;
    color: white;
}